@model QL_Vat_Lieu_Xay_Dung_WebApp.Models.ProductCatalogViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "List Products";
    ViewData["MetaKeyword"] = "list-products";
    ViewData["MetaDescription"] = "list-products";
}

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Go to Home Page" href="/">@Localizer["Home"]</a><span>&raquo;</span></li>
                    <li><strong>@Localizer["TitleProduct"]</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
<div class="main-container col2-left-layout">
    <div class="container">
        <div class="row">
            <div class="col-main col-sm-9 col-xs-12 col-sm-push-3">
                <div class="shop-inner">
                    <div class="page-title">
                        <h2>@Localizer["TitleProduct"]</h2>
                    </div>
                    @if (@Model.Data.PageCount > 0)
                    {
                        <div class="toolbar">
                            <form action="/products.html" method="get">
                                <div class="sorter">
                                    <div class="short-by">
                                        <label>@Localizer["Sort"]:</label>
                                        <select name="sortBy" asp-for="SortType"
                                                onchange="this.form.submit()" asp-items="Model.SortTypes"></select>
                                    </div>
                                    <div class="short-by page">
                                        <label>@Localizer["Show"]:</label>
                                        <select name="pageSize" asp-for="PageSize" onchange="this.form.submit()"
                                                asp-items="Model.PageSizes"></select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    }
                    <div class="product-grid-area">
                        <ul class="products-grid">
                            @foreach (var item in Model.Data.ResultList)
                            {
                                <li class="item col-lg-4 col-md-4 col-sm-6 col-xs-6 ">
                                    <div class="product-item">
                                        <div class="item-inner">
                                            <div class="product-thumbnail">
                                                @if (@item.PromotionPrice.HasValue)
                                                {
                                                <div class="icon-sale-label sale-left">@Localizer["Sale"]</div>
                                                <div class="icon-new-label new-right">@Localizer["New"]</div>
                                                }
                                                else
                                                {
                                            <div class="icon-new-label new-right">@Localizer["New"]</div>
                                                }
                                                <div class="pr-img-area">
                                                    <a title="@item.Name" href="/@item.SeoAlias-p.@(item.Id).html">
                                                        <figure> <img class="first-img" width="260" height="260" src="@item.Image" alt="@item.Name"> <img class="hover-img" src="@item.Image" alt="@item.Name"></figure>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title"> <a title="@item.Name" href="/@item.SeoAlias-p.@(item.Id).html">@item.Name</a> </div>
                                                    <div class="item-content">
                                                        <div class="item-price">
                                                            @if (@item.PromotionPrice.HasValue)
                                                            {
                                                                <div class="price-box">
                                                                    <p class="special-price"> <span class="price-label">@Localizer["SpecialPrice"]:</span> <span class="price"> @string.Format(CultureInfo.GetCultureInfo("vi-VN"), "{0:C0}", item.PromotionPrice.Value) </span> </p>
                                                                    <p class="old-price"> <span class="price-label">@Localizer["Price"]:</span> <span class="price"> @string.Format(CultureInfo.GetCultureInfo("vi-VN"), "{0:C0}", item.Price) </span> </p>
                                                                </div>

                                                            }
                                                            else
                                                            {
                                                                <div class="price-box"> <span class="regular-price"> <span class="price">@string.Format(CultureInfo.GetCultureInfo("vi-VN"), "{0:C0}", item.Price)</span> </span> </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            }
                        </ul>
                    </div>
                    @await Component.InvokeAsync("Pager", Model.Data)
                </div>
            </div>
            <aside class="sidebar col-sm-3 col-xs-12 col-sm-pull-9">
                <div class="block product-price-range ">
                    <div class="sidebar-bar-title">
                        <h3>@Localizer["Price"]</h3>
                    </div>
                    <div class="block-content">
                        <div class="slider-range">
                            <div data-label-reasult="@Localizer["Range"]:" data-min="0" data-max="500" data-unit="$" class="slider-range-price" data-value-min="50" data-value-max="350"></div>
                            <div class="amount-range-price">@Localizer["Range"]: $10 - $550</div>
                        </div>
                    </div>
                </div>
                <div class="block compare">
                    <div class="sidebar-bar-title">
                        <h3>@Localizer["Compare"]</h3>
                    </div>
                    <div class="block-content">
                        <ol id="compare-items">
                            <li class="item"> <a href="compare.html" title="Remove This Item" class="remove-cart"><i class="icon-close"></i></a> <a href="#" class="product-name"><i class="fa fa-angle-right"></i>&nbsp; Vestibulum porta tristique porttitor.</a> </li>
                            <li class="item"> <a href="compare.html" title="Remove This Item" class="remove-cart"><i class="icon-close"></i></a> <a href="#" class="product-name"><i class="fa fa-angle-right"></i>&nbsp; Lorem ipsum dolor sit amet</a> </li>
                        </ol>
                        <div class="ajax-checkout">
                            <button type="submit" title="Submit" class="button button-compare"> <span>@Localizer["Compare"]</span></button>
                            <button type="submit" title="Submit" class="button button-clear"> <span>@Localizer["Clear"]</span></button>
                        </div>
                    </div>
                </div>

                <div class="block popular-tags-area ">
                    <div class="sidebar-bar-title">
                        <h3>@Localizer["Tags"]</h3>
                    </div>
                    <div class="tag">
                        <ul>
                            <li><a href="#">Boys</a></li>
                            <li><a href="#">Camera</a></li>
                            <li><a href="#">good</a></li>
                            <li><a href="#">Computers</a></li>
                            <li><a href="#">Phone</a></li>
                            <li><a href="#">clothes</a></li>
                            <li><a href="#">girl</a></li>
                            <li><a href="#">shoes</a></li>
                            <li><a href="#">women</a></li>
                            <li><a href="#">accessoties</a></li>
                            <li><a href="#">View All Tags</a></li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>
<!-- Main Container End -->