@model QL_Vat_Lieu_Xay_Dung_WebApp.Models.ProductCatalogViewModel
@{
    ViewData["Title"] = Model.Brand.SeoPageTitle;
    ViewData["MetaKeyword"] = Model.Brand.SeoKeywords;
    ViewData["MetaDescription"] = Model.Brand.SeoDescription;
}

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Go to Home Page" href="/">Home</a><span>&raquo;</span></li>
                    <li><strong>@Model.Brand.Name</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
<div class="main-container col2-left-layout">
    <div class="container">
        <div class="row">
            <div class="col-main col-sm-9 col-xs-12 col-sm-push-3">
                <div class="shop-inner">
                    <div class="page-title">
                        <h2>@Model.Brand.Name</h2>
                    </div>
                    @if (@Model.Data.PageCount > 0)
                    {
                        <div class="toolbar">
                            <form action="/@Model.Brand.SeoAlias-c.@(Model.Brand.Id).html" method="get">
                                <div class="sorter">
                                    <div class="short-by">
                                        <label>Sort By:</label>
                                        <select name="sortBy" asp-for="SortType"
                                                onchange="this.form.submit()" asp-items="Model.SortTypes"></select>
                                    </div>
                                    <div class="short-by page">
                                        <label>Show:</label>
                                        <select name="pageSize" asp-for="PageSize" onchange="this.form.submit()"
                                                asp-items="Model.PageSizes"></select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    }
                    <div class="product-grid-area">
                        <ul class="products-grid">
                            @foreach (var item in Model.Data.ResultList)
                            {
                                <li class="item col-lg-4 col-md-4 col-sm-6 col-xs-6 ">
                                    <div class="product-item">
                                        <div class="item-inner">
                                            <div class="product-thumbnail">
                                                @if (@item.PromotionPrice.HasValue)
                                                {
                                                    <div class="icon-sale-label sale-left">Sale</div>
                                                    <div class="icon-new-label new-right">New</div>
                                                }
                                                else
                                                {
                                                    <div class="icon-new-label new-right">New</div>
                                                }
                                                <div class="pr-img-area">
                                                    <a title="@item.Name" href="/@item.SeoAlias-p.@(item.Id).html">
                                                        <figure> <img class="first-img" width="260" height="260" src="@item.Image" alt="@item.Name"> <img class="hover-img" src="@item.Image" alt="@item.Name"></figure>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title"> <a title="@item.Name" href="/@item.SeoAlias-p.@(item.Id).html">@item.Name</a> </div>
                                                    <div class="item-content">
                                                        <div class="item-price">
                                                            @if (@item.PromotionPrice.HasValue)
                                                            {
                                                                <div class="price-box">
                                                                    <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> @string.Format(CultureInfo.GetCultureInfo("vi-VN"), "{0:C0}", item.PromotionPrice.Value) </span> </p>
                                                                    <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> @string.Format(CultureInfo.GetCultureInfo("vi-VN"), "{0:C0}", item.Price) </span> </p>
                                                                </div>

                                                            }
                                                            else
                                                            {
                                                                <div class="price-box"> <span class="regular-price"> <span class="price">@string.Format(CultureInfo.GetCultureInfo("vi-VN"), "{0:C0}", item.Price)</span> </span> </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            }
                        </ul>
                    </div>
                    @await Component.InvokeAsync("Pager", Model.Data)
                </div>
            </div>
            <aside class="sidebar col-sm-3 col-xs-12 col-sm-pull-9">
                <div class="block shop-by-side">
                    <div class="sidebar-bar-title">
                        <h3>Shop By</h3>
                    </div>
                    <div class="block-content">
                        <p class="block-subtitle">Shopping Options</p>
                        <div class="layered-Category">
                            <h2 class="saider-bar-title">Categories</h2>
                            <div class="layered-content">
                                <ul class="check-box-list">
                                    <li>
                                        <input type="checkbox" id="jtv1" name="jtvc">
                                        <label for="jtv1"> <span class="button"></span> Women<span class="count">(12)</span> </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="jtv1" name="jtvc">
                                        <label for="jtv1"> <span class="button"></span> Men<span class="count">(22)</span> </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="jtv1" name="jtvc">
                                        <label for="jtv1"> <span class="button"></span> Kids<span class="count">(15)</span> </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="jtv1" name="jtvc">
                                        <label for="jtv1"> <span class="button"></span> Accessories<span class="count">(12)</span> </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="jtv1" name="jtvc">
                                        <label for="jtv1"> <span class="button"></span> Camera & Photo<span class="count">(12)</span> </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="jtv2" name="jtvc">
                                        <label for="jtv2"> <span class="button"></span> Computers<span class="count">(18)</span> </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="jtv3" name="jtvc">
                                        <label for="jtv3"> <span class="button"></span> Apple Store<span class="count">(15)</span> </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="jtv4" name="jtvc">
                                        <label for="jtv4"> <span class="button"></span> Car Electronic<span class="count">(03)</span> </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="jtv5" name="jtvc">
                                        <label for="jtv5"> <span class="button"></span> Accessories<span class="count">(04)</span> </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="jtv7" name="jtvc">
                                        <label for="jtv7"> <span class="button"></span> Game & Video<span class="count">(07)</span> </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="jtv8" name="jtvc">
                                        <label for="jtv8"> <span class="button"></span> Best selling<span class="count">(05)</span> </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="size-area">
                            <h2 class="saider-bar-title">Size</h2>
                            <div class="size">
                                <ul>
                                    <li><a href="#">S</a></li>
                                    <li><a href="#">L</a></li>
                                    <li><a href="#">M</a></li>
                                    <li><a href="#">XL</a></li>
                                    <li><a href="#">XXL</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block product-price-range ">
                    <div class="sidebar-bar-title">
                        <h3>Price</h3>
                    </div>
                    <div class="block-content">
                        <div class="slider-range">
                            <div data-label-reasult="Range:" data-min="0" data-max="500" data-unit="$" class="slider-range-price" data-value-min="50" data-value-max="350"></div>
                            <div class="amount-range-price">Range: $10 - $550</div>
                        </div>
                    </div>
                </div>
                <div class="block compare">
                    <div class="sidebar-bar-title">
                        <h3>Compare Products (2)</h3>
                    </div>
                    <div class="block-content">
                        <ol id="compare-items">
                            <li class="item"> <a href="compare.html" title="Remove This Item" class="remove-cart"><i class="icon-close"></i></a> <a href="#" class="product-name"><i class="fa fa-angle-right"></i>&nbsp; Vestibulum porta tristique porttitor.</a> </li>
                            <li class="item"> <a href="compare.html" title="Remove This Item" class="remove-cart"><i class="icon-close"></i></a> <a href="#" class="product-name"><i class="fa fa-angle-right"></i>&nbsp; Lorem ipsum dolor sit amet</a> </li>
                        </ol>
                        <div class="ajax-checkout">
                            <button type="submit" title="Submit" class="button button-compare"> <span>Compare</span></button>
                            <button type="submit" title="Submit" class="button button-clear"> <span>Clear All</span></button>
                        </div>
                    </div>
                </div>

                <div class="block popular-tags-area ">
                    <div class="sidebar-bar-title">
                        <h3>Popular Tags</h3>
                    </div>
                    <div class="tag">
                        <ul>
                            <li><a href="#">Boys</a></li>
                            <li><a href="#">Camera</a></li>
                            <li><a href="#">good</a></li>
                            <li><a href="#">Computers</a></li>
                            <li><a href="#">Phone</a></li>
                            <li><a href="#">clothes</a></li>
                            <li><a href="#">girl</a></li>
                            <li><a href="#">shoes</a></li>
                            <li><a href="#">women</a></li>
                            <li><a href="#">accessoties</a></li>
                            <li><a href="#">View All Tags</a></li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>
<!-- Main Container End -->