@model QL_Vat_Lieu_Xay_Dung_Services.ViewModels.Common.FeedbackViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<table>
    <tr>
        <td>@Localizer["Name"]: </td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>@Localizer["Date"]: </td>
        <td>@Model.DateCreated</td>
    </tr>
    <tr>
        <td>@Localizer["Email"]: </td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>@Localizer["Message"]: </td>
        <td>@Model.Message</td>
    </tr>
</table>