<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic page needs -->
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["MetaKeyWord"]">
    <meta name="keywords" content="@ViewData["MetaDescription"]" />

    <!-- Mobile specific metas  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/client/favicon.ico">
    <!-- CSS Style -->
    <link rel="stylesheet" href="~/assets/client/style.css">
    @await RenderSectionAsync("Styles", required: false)
</head>

<body class="@ViewData["BodyClass"]">

    <!-- mobile menu -->
    @await Component.InvokeAsync("MobileMenu")
    <!-- end mobile menu -->

    <div id="page">

        <!-- Header -->
        @await Component.InvokeAsync("Header")
        <!-- end header -->
        <nav>
            <div class="container">
                <div class="row">
                    @await Component.InvokeAsync("Menu")
                    <div class="col-md-9 col-sm-9 jtv-megamenu">
                        <div class="mtmegamenu">
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        @RenderBody()

        <!-- Footer -->
        <partial name="_FooterPartial" />
        <a href="#" id="back-to-top" title="Back to top"><i class="fa fa-angle-up"></i></a>

        <!-- End Footer -->
    </div>

    <!-- JS -->
    <!-- jquery js -->
    <script type="text/javascript" src="~/assets/client/js/jquery.min.js"></script>

    <!-- bootstrap js -->
    <script type="text/javascript" src="~/assets/client/js/bootstrap.min.js"></script>

    <!-- owl.carousel.min js -->
    <script type="text/javascript" src="~/assets/client/js/owl.carousel.min.js"></script>

    <!-- jquery.mobile-menu js -->
    <script type="text/javascript" src="~/assets/client/js/mobile-menu.js"></script>

    <!--jquery-ui.min js -->
    <script type="text/javascript" src="~/assets/client/js/jquery-ui.js"></script>

    <!-- main js -->
    <script type="text/javascript" src="~/assets/client/js/main.js"></script>

    <!-- countdown js -->
    <script type="text/javascript" src="~/assets/client/js/countdown.js"></script>

    <!-- Slider Js -->
    <script type="text/javascript" src="~/assets/client/js/revolution-slider.js"></script>
    <!--Notify js-->
    <script src="~/lib/notify/notify.js"></script>
    <script src="~/lib/notify/styles/metro/notify-metro.js"></script>
    <!-- Bootbox-->
    <script src="~/lib/bootbox.js/bootbox.js"></script>
    <!--Mustache-->
    <script src="~/lib/mustache.js/mustache.js"></script>
<!-- client custom script-->
@*<script src="~/assets/client-app/client-shared/client-customScript.js"></script>
<script src="~/assets/client-app/client_controllers/base/base_index.js" ></script>*@

<script src="~/assets/client-app/client-shared/client-customScript.min.js"></script>
<script src="~/assets/client-app/client_controllers/base/base_index.min.js" ></script>

<!--Header Shop Cart-->
    <script>
        var baseObj = new BaseAjax();
        baseObj.initialize();
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>