@model BillViewModel
<h1>Đơn Hàng Mới Đến Từ Website Quản Lý Vật Liệu Xây Dựng</h1>
<table>
    <tr>
        <td>Customer Name: </td>
        <td>@Model.CustomerName</td>
    </tr>
    <tr>
        <td>Address: </td>
        <td>@Model.CustomerAddress</td>
    </tr>
    <tr>
        <td>Phone: </td>
        <td>@Model.CustomerMobile</td>
    </tr>
    <tr>
        <td>Date: </td>
        <td>@Model.DateCreated.ToString("dd/MM/yyyy hh:mm")</td>
    </tr>
    <tr>
        <td>Details:</td>
        <td>
            <table>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Size</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.BillDetails)
                    {
                        <tr>
                            <td>@item.Product.Name</td>
                            <td>@item.Size.Name</td>
                            <td>@item.Quantity</td>
                            <td> @string.Format(CultureInfo.GetCultureInfo("vi-VN"), "{0:C0}", item.Price)</td>
                            <td>@string.Format(CultureInfo.GetCultureInfo("vi-VN"), "{0:C0}", (item.Quantity * item.Price))</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            Total: @string.Format(CultureInfo.GetCultureInfo("vi-VN"), "{0:C0}", Model.BillDetails.Sum(x => x.Quantity * x.Price))
                        </td>
                    </tr>
                </tfoot>
            </table>
        </td>
    </tr>
</table>