@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model BillViewModel
<h1>@Localizer["Title"] Quản Lý Vật Liệu Xây Dựng</h1>
<table>
    <tr>
        <td>@Localizer["Name"]: </td>
        <td>@Model.CustomerName</td>
    </tr>
    <tr>
        <td>@Localizer["Address"]: </td>
        <td>@Model.CustomerAddress</td>
    </tr>
    <tr>
        <td>@Localizer["Phone"]: </td>
        <td>@Model.CustomerMobile</td>
    </tr>
    <tr>
        <td>@Localizer["Date"]: </td>
        <td>@Model.DateCreated.ToString("dd/MM/yyyy hh:mm")</td>
    </tr>
    <tr>
        <td>@Localizer["Details"]:</td>
        <td>
            <table>
                <thead>
                    <tr>
                        <th>@Localizer["Product"]</th>
                        <th>@Localizer["Size"]</th>
                        <th>@Localizer["Quantity"]</th>
                        <th>@Localizer["Price"]</th>
                        <th>@Localizer["Total"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.BillDetails)
                    {
                        <tr>
                            <td>@item.Product.Name</td>
                            <td>@item.Size.Name</td>
                            <td>@item.Quantity</td>
                            <td> @string.Format(CultureInfo.GetCultureInfo("vi-VN"), "{0:C0}", item.Price)</td>
                            <td>@string.Format(CultureInfo.GetCultureInfo("vi-VN"), "{0:C0}", (item.Quantity * item.Price))</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            @Localizer["Total"]: @string.Format(CultureInfo.GetCultureInfo("vi-VN"), "{0:C0}", Model.BillDetails.Sum(x => x.Quantity * x.Price))
                        </td>
                    </tr>
                </tfoot>
            </table>
        </td>
    </tr>
</table>